<html>

<head>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="styles/material.css">
    <meta name="viewport" content="initial-scale=1"/>


</head>

<body ng-app="GabblerApp">


<div data-ng-controller="LoginRegisterController">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" flex>
            <h1>Gabbler</h1>
        </div>
        <div flex>
        </div>
        <md-button ng-click="SlideNav()" ng-show="user.isConnected()">{{user.getUser().Name}}</md-button>
    </md-toolbar>

    <md-sidenav style="background-color: #E5E5E5" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" layout="column"
                layout-align="space-between center">
        <div style="width: 100%">
            <md-toolbar class="md-theme-light" flex layout-align="start center" display="row">
                <div style="height: 20px"></div>
                <img src="{{imageProfile}}" style="border-radius: 120px; width: 155px; height: auto;">

                <h1 class="md-toolbar-tools" layout-align="center">{{user.getUser().Name}}
                    {{user.getUser().LastName}}</h1>
            </md-toolbar>
        </div>
        <div style="background-color: #E5E5E5" flex layout="column">
            <div flex></div>
            <md-button class="md-raised md-primary md-fab" ng-click="go('/')">
                <md-icon md-svg-src="images/home.svg"></md-icon>
                <md-tooltip>Home</md-tooltip>
            </md-button>
            <div flex></div>
            <md-button class="md-raised md-primary md-fab" ng-click="go('/timeline')">
                <md-icon md-svg-src="images/apps.svg"></md-icon>
                <md-tooltip>Timeline</md-tooltip>
            </md-button>
            <div flex></div>
            <md-button class="md-raised md-primary md-fab" ng-click="go('/myprofile')">
                <md-icon md-svg-src="images/account-box.svg"></md-icon>
                <md-tooltip>Profile</md-tooltip>
            </md-button>
            <div flex></div>
            <md-button class="md-raised md-primary md-fab" ng-click="go('/profile')">
                <md-icon md-svg-src="images/pencil.svg"></md-icon>
                <md-tooltip>Edit my profile</md-tooltip>
            </md-button>
            <div flex></div>
            <md-button class="md-raised md-primary md-fab" ng-click="go('/searchfriend')">
                <md-icon md-svg-src="images/magnify.svg"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
            <div flex></div>
        </div>
        <div style="background-color: #D63E29; width: 100%" layout-align="center center">
            <div flex>
                <md-button ng-click="Logout()" style="color:white">
                    <md-icon md-svg-src="images/power.svg" style="color: white;"></md-icon>
                    Logout
                </md-button>
            </div>
        </div>
    </md-sidenav>
</div>


<div ng-view>

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.1/angular-route.js"></script>
<script type="text/javascript" src="./javascripts/app.js"></script>
<script type="text/javascript" src="./javascripts/services/authService.js"></script>
<script type="text/javascript" src="./javascripts/services/TokenInterceptor.js"></script>
<script type="text/javascript" src="./javascripts/angular-flash.js"></script>
<script type="text/javascript" src="./javascripts/angular-file-model.js"></script>


<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>

<script type="text/javascript" src="./javascripts/controllers/HomeController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/LoginRegisterController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/TimeLineController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/ProfileController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/FollowersController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/FollowingController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/GabsLikedController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/SearchFriendController.js"></script>
<script type="text/javascript" src="./javascripts/controllers/MyProfileController.js"></script>

<!--Libraries -->
<script type="text/javascript" src="./javascripts/libs/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="./javascripts/libs/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="./javascripts/libs/angular-masonry-directive.js"></script>

</body>
</html>