<div layout="column" ng-controller="GabsLikedController">

        <div flex ng-repeat="u in gabs" layout="row">
            <div flex="35" hide-sm></div>
            <md-card flex>
                <md-toolbar layout="row">
                    <div class="md-toolbar-tools" flex>
                        <h3 class="md-toolbar-tools">
                            {{u.title}}
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content>
                    {{u.content}}
                </md-card-content>
                <div>
                    <md-button ng-click="disLike(u.id)" ng-disabled="{{disabled}}" class="md-icon-button md-accent">
                        <md-icon md-svg-src="images/like.svg" style="color: #D63E29" aria-label=""></md-icon>
                    </md-button>
                </div>
            </md-card>
            <div flex="35" hide-sm></div>
        </div>

</div>

<style>
    .tile {
        width: 33%;
    }

    .tile:first-child {
        margin-bottom: 20px;
    }

    @media screen and ( max-width: 768px ) {
        .tile {
            width: 100%;
        }
    }

</style>