<div layout="column" ng-controller="HomeController">
    <video loop autoplay  poster="http://puu.sh/iaEdB/bdbe41a0a7.jpg" id="bgvid"
           style="position: absolute; top: 50%; left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;">
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="images/rendu.webm" type="video/webm">
    </video>
    <div>
        <div layout="column" layout-align="space-around center" style="margin: 200px; z-index: 1000; " layout-margin>
            <img src="images/logoPrin.png" style="z-index: 8; background: rgba(0,0,0,0.3);  padding: 2rem">
            <h2 style="margin: 60px; z-index: 8; background: rgba(0,0,0,0.3);  padding: 1rem;  color: white">Let's start..</h2>
            <md-button class="md-raised" ng-click="go()" style="background-color: #01387F; color: white" >Ok I'm in !</md-button>
        </div>
    </div>
    <div style="background-color:#202222; color:white; z-index: 8">
        <div layout="row" layout-align="center center" layout-margin style="margin-top: 90px" layout-sm="column">
            <div layout="column" layout-align="center center" layout-margin flex>
                <div>
                    <h3>Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
            </div>
            <div layout="column" layout-align="center center" layout-margin flex>
                <div>
                    <h3>OtherContent</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>OtherContent</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>OtherContent</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="center center" layout-margin flex style="margin-top: 20px">
            <h3>Contact Us</h3>
            <md-button class="md-fab md-mini md-primary" aria-label="contact">
                <md-icon md-svg-src="images/contact.svg" style="color: white;"></md-icon>
            </md-button>
        </div>
        <div layout="column" layout-align="center center" layout-margin flex>
            <div style="margin-top: 40px">
                © Team. All rights reserved.
            </div>
            <div style="height: 50px;"></div>
        </div>
    </div>
</div>