<div layout="column" ng-controller="HomeController">
    <div>
        <div layout="column" layout-align="space-around center" style="margin: 200px" layout-margin>
            <img src="images/logoPrin.png">
            <h2 style="margin: 60px">let's start..</h2>
            <md-button class="md-raised" ng-click="go('/login')" style="background-color: #01387F; color: white" >ok I'm in !</md-button>
        </div>
    </div>
    <div style="background-color:#202222; color:white">
        <div layout="row" layout-align="center center" layout-margin style="margin-top: 90px" layout-sm="column">
            <div layout="column" layout-align="center center" layout-margin flex>
                <div>
                    <h3>Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
            </div>
            <div layout="column" layout-align="center center" layout-margin flex>
                <div>
                    <h3>OtherContent</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>OtherContent</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
                <div>
                    <h3>OtherContent</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="center center" layout-margin flex style="margin-top: 20px">
            <h3>Contact Us</h3>
            <md-button class="md-fab md-mini md-primary" aria-label="contact">
                <md-icon md-svg-src="images/contact.svg" style="color: white;"></md-icon>
            </md-button>
        </div>
        <div layout="column" layout-align="center center" layout-margin flex>
            <div style="margin-top: 40px">
                © Team. All rights reserved.
            </div>
        </div>
    </div>
</div>