<div layout="column" ng-controller="MyProfileController">
    <div layout="row" style="background-color: #E5E5E5;">
        <div flex="15" hide-sm></div>
        <div flex>
            <md-card>
                <img ng-src="{{backGround}}" class="md-card-image" alt="Washed Out"
                     style="border-radius: 10px; width: auto; height: 60%;">
                <md-card-content>
                    <div layout="row" layout-sm="column">
                        <img ng-src="{{avatar}}" class="md-avatar"
                             style="border-radius: 400px; width: auto; height: 155px; margin-right: 40px">
                        <div class="md-list-item-text">
                            <h2 class="md-title">{{NameShown}}</h2>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat lorem ut aliquam
                                elementum. Donec tincidunt, purus vitae porttitor orci aliquam.
                            </p>

                            <div class="md-actions" layout="row" layout-align="end center">
                                <md-button ng-hide="gabsLikedButton" ng-click="gabsUsers()">Gabs Liked</md-button>
                                <md-button ng-hide="followButton" ng-click="followUser()">{{followText}}</md-button>
                                <md-button ng-click="redirectFollowers()">Followers</md-button>
                                <md-button ng-click="redirectFollowing()">Following</md-button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <div layout="row">
                <div flex="20" hide-sm></div>
                <div flex style="background-color: white">
                    <md-subheader class="md-no-sticky">Gabs:</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="u in gabs | orderBy:'id':true">
                        <img ng-src="{{avatar}}" class="md-avatar" style="width:38px; height: auto">

                        <div class="md-list-item-text">
                            <h3>{{u.title}}</h3>

                            <p>{{u.content}}</p>

                            <div layout="row" layout-align="end">
                                <md-button ng-hide="deleteGabP" class="md-raised md-warn" ng-click="deleteGab(u.id)">
                                    Delete
                                </md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </div>
                <div flex="20" hide-sm></div>
            </div>
        </div>
        <div flex="15" hide-sm></div>
    </div>
</div>