<div>
    <md-toolbar>
        <h1 class="md-toolbar-tools" layout-align-gt-sm="left">Timeline</h1>
    </md-toolbar>
    <md-content style="background-color: #E5E5E5; min-height: 100%">
        <div layout="row">
            <div flex="20" hide-sm></div>
            <div style="width: 900px" class="tml">

                <div class="tile">
                    <md-card>
                        <md-card-content>
                                <md-input-container>
                                    <label>Titre</label>
                                    <input ng-model="titre">
                                </md-input-container>
                                <md-input-container>
                                    <label>Contenu</label>
                                    <textarea ng-model="contenu" columns="1" md-maxlength="150"></textarea>
                                </md-input-container>
                                <md-button class="md-raised" type="submit" value="Envoyer" ng-click="CreateGab()"
                                           style="background-color: #56AA1F; color: white">Partager
                                </md-button>
                        <md-card-content>
                    </md-card>
                </div>

                <div ng-repeat="u in gabs | reverse"  class="tile">
                    <md-card>
                        <md-toolbar layout="row">

                            <div class="md-toolbar-tools" flex>
                                <div style="width: 40px">
                                    <img src="{{baseURL}}{{u.owner.UrlAvatar}}" style="border-radius: 120px">
                                </div>
                                <h3 class="md-toolbar-tools">
                                    {{u.title}}
                                </h3>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            {{u.content}}
                        </md-card-content>
                        <div>
                            <md-button ng-click="Like(u.id)" class="md-icon-button md-accent">
                                <md-icon ng-show="obj[u.id] != true " md-svg-src="images/like.svg" style="color: #666666" aria-label=""></md-icon>
                                <md-icon ng-show="obj[u.id] == true" md-svg-src="images/like.svg" style="color: #D63E29" aria-label=""></md-icon>
                            </md-button>
                        </div>
                    </md-card>
                    <div ng-if="$last">
                        {{ Masonry2() }}
                    </div>
                </div>
            </div>
            <div flex="20"  hide-sm></div>
        </div>
    </md-content>
</div>

<style>
    .tile {
        width: 33%;
    }

    .tile:first-child {
        margin-bottom: 20px;
    }

    @media screen and ( max-width: 768px ) {
        .tile {
            width: 100%;
        }
    }

</style>
