@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,800,900,600,200);
/* line 2, ../sass/fonts.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  font-weight: lighter;
}

/* line 8, ../sass/fonts.scss */
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  background-color: #FFF;
}

/* line 6, ../sass/timeline.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/timeline.scss */
#page-contener {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

/* line 21, ../sass/timeline.scss */
#title-drawer {
  background-color: #262626;
  color: #F0F0F0;
}

/* line 26, ../sass/timeline.scss */
#content-drawer {
  background-color: #323232;
  color: #A0A0A0;
}

/* line 31, ../sass/timeline.scss */
#contener-posts {
  height: 100%;
  width: 100%;
  margin: 10px;
}

/* line 37, ../sass/timeline.scss */
#post {
  background-color: white;
  padding: 10px;
}

/* line 47, ../sass/timeline.scss */
#blank-div {
  height: 10px;
}

/* line 51, ../sass/timeline.scss */
#div-deco {
  background-color: #262626;
  padding-left: 20px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 54, ../sass/timeline.scss */
#div-deco:hover {
  color: #F0F0F0;
  cursor: pointer;
}

/* line 68, ../sass/timeline.scss */
.grid-item {
  width: 33%;
}
/* line 71, ../sass/timeline.scss */
.grid-item:first-child {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  /* line 78, ../sass/timeline.scss */
  .grid-item {
    width: 100%;
  }
}
