@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,800,900,600,200);
/* line 2, ../sass/fonts.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  font-weight: lighter;
}

/* line 8, ../sass/fonts.scss */
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  background-color: #FFF;
}
